<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pokemonName | titlecase }}</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="star" slot="icon-only" [class.text-yellow-500]="isFavorite" (click)="toggleFavorite()"/>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="absolute -z-10 w-full h-[21vh] bg-amber-500 rounded-[0_0_50%_50%_/_88%_88%_12%_12%]"
       [style.background]="'linear-gradient(to right, rgba(' + firstTypeColor + ', 0.7), rgb(' + firstTypeColor + '))'"
  ><span class="pr-4 float-right">#{{ pokemonDetails?.id }}</span></div>

  <div class="h-[calc(100vh/4)] lg:h-auto lg:w-auto lg:p-12">
    <img [src]="image" class="h-full w-auto block mx-auto" alt="{{pokemonName}}.img"/>
  </div>

  <div class="flex justify-center text-center my-4">
    <div *ngIf="weightInLbsAndKg" class="flex flex-col">
      <span>{{ weightInLbsAndKg.lbs.toFixed(1) }} lbs</span>
      <span>({{ weightInLbsAndKg.kg }} kg)</span><span class="pt-2 text-xs text-[#707070]"
    >Weight</span>
    </div>
    <div class="h-auto w-0.5 bg-gray-500 mx-8"></div>
    <div *ngIf="heightInFeetInchesAndMeters" class="flex flex-col">
      <span>{{ heightInFeetInchesAndMeters.feet }}' {{ heightInFeetInchesAndMeters.inches }}"</span>
      <span>({{ heightInFeetInchesAndMeters.meters }} m)</span><span class="pt-2 text-xs text-[#707070]"
    >Height</span
    >
    </div>
  </div>

  <div class="flex justify-center items-center text-sm">
    <span *ngIf="type"
          [class]="secondType ? 'mr-2' : ''"
          class="h-10 w-36 rounded-3xl flex justify-center items-center gap-1 uppercase text-[#FFFFFF] font-bold fill-white"
          [style.background]="'rgb(' + firstTypeColor + ')'"
          [style.box-shadow]="'rgba(' + firstTypeColor + ', 0.7) 0px 0px 10px'"
    ><img [src]="typeIcon" [alt]="typeIcon"/>{{ type }}</span>
    <span *ngIf="secondType"
          [class]="secondType ? 'ml-2' : ''"
          class="h-10 w-36 rounded-3xl flex justify-center items-center gap-1 uppercase text-[#FFFFFF] font-bold fill-white"
          [style.background]="'rgb(' + secondTypeColor + ')'"
          [style.box-shadow]="'rgba(' + secondTypeColor + ', 0.7) 0px 0px 10px'"
    ><img [src]="secondTypeIcon" [alt]="secondTypeIcon"/>{{ secondType }}</span>
  </div>

  <div class="px-3 mt-2 block" *ngIf="pokemonSpecies">
    {{ pokemonSpecies.flavor_text_entries[6].flavor_text }}
  </div>

  <swiper-container appSwiper #swiperThumbs [config]="swiperThumbsConfig" class="mySwiper2 my-4 w-full px-10">
    <swiper-slide class="px-4 py-2 rounded-full" [style.--bg]="firstTypeColor">
      <div role="button">STATS</div>
    </swiper-slide>
    <swiper-slide class="px-4 py-2 rounded-full" [style.--bg]="firstTypeColor">
      <div role="button">EVOLUTIONS</div>
    </swiper-slide>
  </swiper-container>
  <swiper-container appSwiper #swiper [config]="swiperConfig" thumbs-swiper=".mySwiper2"
                    (slidechange)="slideChange($event)">
    <swiper-slide class="mb-8">
      <div class="flex items-center text-sm w-full px-3">
        <ul class="font-semibold"
            [style.color]="'rgb(' + firstTypeColor + ')'"
        >
          <li class="h-5 mt-2" *ngFor="let p of pokemonDetails?.stats">{{ formatStatName(p.stat.name) }}</li>
        </ul>
        <ul class="text-center mx-4">
          <li class="h-5 mt-2" *ngFor="let p of pokemonDetails?.stats">{{ p.base_stat }}</li>
        </ul>
        <ul class="w-full">
          <li class="w-full flex items-center h-5 mt-2" *ngFor="let p of pokemonDetails?.stats">
            <div class="w-full bg-[#e3e3e3] rounded-3xl">
        <span
          class="block rounded-3xl h-[10px]"
          [style.width.%]="(p.base_stat / 1.75)"
          [style.background]="'linear-gradient(to right, rgba(' + firstTypeColor + ', 0.4), rgb(' + firstTypeColor + '))'"></span>
            </div>
          </li>
        </ul>
      </div>

      <div class="w-full text-xl tracking-wide my-4"
           [style.color]="'rgb(' + firstTypeColor + ')'"
      >Weaknesses
      </div>
      <div class="w-full text-center grid grid-cols-3 place-items-center">
           <span *ngFor="let d of doubleDamageFrom"
                 class="text-sm w-20 rounded-3xl flex justify-center items-center my-4"
           ><img src="/assets/icons/{{d}}.svg"
                 [style.background]="'rgb(' + typeColor(d) + ')'"
                 [style.box-shadow]="'rgba(' + typeColor(d) + ', 0.7) 0px 0px 10px'"
                 class="flex-1 p-1 rounded-full"/>
            <span class="flex-1 text-base ml-2">2x</span>
          </span>
        <span *ngFor="let d of normalDamageFrom"
              class="text-sm w-20 rounded-3xl flex justify-center items-center my-4">
        <img src="/assets/icons/{{d}}.svg"
             [style.background]="'rgb(' + typeColor(d) + ')'"
             [style.box-shadow]="'rgba(' + typeColor(d) + ', 0.7) 0px 0px 10px'"
             class="flex-1 p-1 rounded-full"/>
            <span class="flex-1 text-base ml-2">1x</span>
          </span>
        <span *ngFor="let d of halfDamageFrom"
              class="text-sm w-20 rounded-3xl flex justify-center items-center my-4"
        ><img src="/assets/icons/{{d}}.svg"
              [style.background]="'rgb(' + typeColor(d) + ')'"
              [style.box-shadow]="'rgba(' + typeColor(d) + ', 0.7) 0px 0px 10px'"
              class="flex-1 p-1 rounded-full"/>
            <span class="flex-1 text-base ml-2">1/2x</span>
          </span>
      </div>
    </swiper-slide>
    <swiper-slide class="px-6">
      <app-evolution-item
        class="w-full"
        *ngIf="pokemonSpecies && evolutionURL"
        [pokemonDetails]="pokemonDetails"
        [evolutionURL]="evolutionURL"
      />
    </swiper-slide>
  </swiper-container>


</ion-content>
